<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Vacation</title>
    <link rel="icon" href="images/InputField.png" type="image/x-icon">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/index.js" defer></script>
</head>
<body>
    <div id="DreamVacayContainer">
        <header>
            <img width="100" src="images/InputField.png"/>
            <h1>Form Input Application</h1>
        </header>
        <div id="bodyElement">
            <form id="inputForm" action="/submit-form" method="post">
                <label for="Email">First option</label>
                <input name="Email" type="email"></input>
                <label for="Name">Second option</label>
                <input name="Name" type="text"></input>
            </form>
            <div>
                <p>This is a text</p>
            </div>
            <div>
                <p>OtherDivElement</p>
            </div>
        </div>
        <footer>
            <ul>
                <li>Maintained by Matterwoven</li><br>
                <li><img width="15" src="images/DiscordLogo.jpeg"/>Matterwoven on Discord</li><br>
                <li><img width="15" src="images/GithubLogo.jpg"/>Matterwoven on Github</li>
            </ul>
        </footer>
    </div>
</body>
</html>