<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Vacation</title>
    <link rel="icon" href="images/InputField.png" type="image/x-icon">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/index.js" defer></script>
</head>
<body>
    <div id="DreamVacayContainer">
        <header>
            <div class="header-content">
                <img src="https://bit.ly/305-vacation" id="bg-img" alt="background image">
                <p>Book Your Dream Vacation</p>
            </div>
        </header>        
        <footer>
            <form id="inputForm" action="/submit-form" method="post">
                <div class="Destination">
                    <label for="Destination">Destination</label>
                    <select name="Destination" id="Destination">
                        <option value="" hidden selected disabled>--Choose one--</option>
                        <option value="Paris">Paris</option>
                        <option value="New York City">New York City</option>
                        <option value="Rome">Rome</option>
                        <option value="Yellowstone National Park">Yellowstone National Park</option>
                        <option value="Barcelona">Barcelona</option>
                    </select>
                    <span id="destinationError"></span>
                </div>
                <div id="departAndMore">
                    <div class="DepartureDate">
                        <label for="Date">Departure Date</label><br>
                        <input name="Date" type="date"></input>
                        <span id="dateError"></span>
                    </div>
                    <div class="NumOfTravelers">
                        <label for="NumOfTravelers">Number of Travelers</label><br>
                        <input name="NumOfTravelers" type="number" min="0" max="100" step="1"></input>
                        <span id="travelersError"></span>
                    </div>
                </div>
                <button type="submit">Find My Vacation</button>
            </form>
        </footer>
    </div>
</body>
</html>