<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Vacation</title>
    <link rel="icon" href="images/InputField.png" type="image/x-icon">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/index.js" defer></script>
</head>
<body>
    <div id="DreamVacayContainer">
        <header>
            <p>
                Book Your Dream Vacation
                <img src="https://bit.ly/305-vacation" id="bg-img" alt="background image">
            </p>
        </header>
        <footer>
            <form id="inputForm" action="/submit-form" method="post">
                <div class="Destination">
                    <label for="Email">Destination</label>
                    <input name="Email" type="email"></input>
                </div>
                <div id="departAndMore">
                    <div class="DepartureDate">
                        <label for="Name">Departure Date</label><br>
                        <input name="Name" type="date"></input>
                    </div>
                    <div class="NumOfTravelers">
                        <label for="Name">Number of Travelers</label><br>
                        <input name="Name" type="text"></input>
                    </div>
                </div>
                <button type="submit">Find My Vacation</button>
        </footer>
    </div>
</body>
</html>