<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Vacation</title>
    <link rel="icon" href="images/InputField.png" type="image/x-icon">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/index.js" defer></script>
</head>
<body>
    <div id="DreamVacayContainer">
        <header id="bodyElement" style="background-color: rgb(30, 67, 73);">
            <p style="color: white; justify-self: center;">Thank you for your request!</p>
        </header>
        <footer>
            <ul>
                <li>Maintained by Matterwoven</li><br>
                <li><img width="15" src="../public/images/GithubLogo.jpg"/><a href="https://github.com/matterwoven/Midterm-WebDev">Repository on Github</a></li>
                <li><img width="15" src="../public/images/GithubLogo.jpg"/><a href="https://github.com/matterwoven/">Matterwoven on Github</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>