Body {
    height: 97vh;
    width: 97wh;
    margin: 3vh 3vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: linear-gradient(50deg, rgb(28, 9, 121) 35%, rgb(0, 94, 255) 100%);
}

Body > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-size:20px;
}

Header {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

Footer {
    width: 100%;
    padding-bottom: 50px;
    background-color: rgb(242, 243, 242);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

Form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;

}

li > img {
    border-radius: 50px;
    margin-right: 5px;
}

#DreamVacayContainer {
    border-radius: 25px;
}

#departAndMore {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.Destination, #NumOfTravelers, #departAndMore {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}
/* Only on 472px or more */
#departAndMore > *:last-child{
    flex-direction: row;
    margin-left: auto;
} 

.Destination > input {
    width: 98%;
}

Button {
    width: 350px;
    height: 50px;
    align-self: center;
    background: linear-gradient(-50deg, rgb(32, 12, 128) 25%, rgb(0, 94, 255) 100%);
    color: white;
    border-radius: 50px;
    border-color: transparent;
    font-size: large;
}

/* One relative */

/* One absolute */
.DepartureDate > input {
    width: 220px;
}

#bg-img{
    width: 93vw;
}

header > p, header > img {
    float:unset
}